:root {
    --font-main: 'Cormorant Garamond', serif;
    --font-secundary: 'Poppins', sans-serif;
    --color-font: #F2E7DC;
    --color-strong: #D92525;
}


.main-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10em;
}

.main-content > .main-1stchildren > .logo {
    width: 280px;
}

.main-content > .main-2ndchildren {
    padding: 2em;
}

.main-content > .main-2ndchildren > h4 {
    font-family: var(--font-secundary);
    color: var(--color-strong);
    text-align: center;
    font-size: 2em;
    text-shadow: 0px 0px 4px #000000;
}

.main-content > .main-2ndchildren > p {
    font-family: var(--font-secundary);
    color: var(--color-font);
}

.scroll-component {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-secundary);
    color: var(--color-font);
}



