:root {
    --font-main: 'Cormorant Garamond', serif;
    --font-secundary: 'Poppins', sans-serif;
    --color-font: #F2E7DC;
    --color-strong: #D92525;
}


.Navigation {
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222020;
    box-shadow: 0px 0px 5px 0px #000;
    position: fixed;
    width: 100%;
}

.nameText {
    font-family: var(--font-main);
    font-weight: bold;
    font-size: 2em;
    color: var(--color-strong);
    text-shadow: 1px 0px 3px rgba(0,0,0,0.95);

}

ul {
    display: flex;
    list-style: none;
    gap: 1em;
}

ul > li {
    font-family: var(--font-secundary);
    color: var(--color-font);
    cursor: pointer;
    font-size: 0.8em;
}

